.footer-app {
    /* background: linear-gradient(90deg, var(--gradient-blue), var(--gradient-header-skyblue), var(--gradient-header-green)); 
    background: rgb(112 119 126);*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-app img {
    width: 5rem;
    height: 5rem;
    margin-bottom: .0005rem;
}

.footer-app p {
    margin-left: .7rem;
    font-size: .8rem;
    font-weight: 400;
}

.logo-dim {
    /* align-self: flex-start; */
    width: 60%;
    display: flex;
    align-items: center;
    color: white;
    /* margin-left: 1rem; */
}

.social {

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-right: 2rem;
}

.conteiner-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;
}

.conteiner-info h4 {
    margin: 0;
    color: #a8c6ed;
}

.conteiner-info p {
    margin: 0;
}

.vertical-line {
    width: 2px;/* Ancho de la línea */
    height: 100px;/* Altura de la línea */
    background-color: white;/* Color de la línea */
}

@media(width < 700px) {
    .footer-app {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo-dim {
        display: flex;
    }

    .logo-dim p {
        width: 70%;
    }

    .vertical-line {
        width: 4px;/* Ancho de la línea */
        height: 100px;/* Altura de la línea */
        background-color: white;/* Color de la línea */
    }

    .social {
        width: 15%;
        padding-bottom: .3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 1rem;
    }

    .conteiner-info h4 {
        margin: 0;
        color: white;
        font-weight: 700;
    }

    .conteiner-info p {
        margin: 0;
        margin-left: .7rem;
        font-size: .8rem;
        font-weight: 500;
    }
}