.Contenedor {
    width: 100%;
    height: auto;
    background: #ffffff;
}

.card-wrapper{
    width: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.card2{
    width: 80%;
  height: auto;
  border: 2px solid #e7e7e7;
  box-shadow: 3px 3px 3px rgb(130, 130, 130); 
  /* margin-bottom: 1rem;*/
  padding: .5rem; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-content{
    width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.cont-logos2 {
    width: 100%;
    padding-bottom: .8rem;
    margin-top: 0;
    background-color: #4070f4;
    border-radius: 0 0 30px 0;
    transform: translateY(-10%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.logo2 {
    width: 60%;
    border: none;
    border-radius: 0;
    transform: translateX(25%) translateY(3px);
}

.muni2 {
    width: 80%;
    height: 8rem;
    margin-right: 2rem;
    padding-top: 1rem;
    align-items: center;
    transform: translateY(-5px) translateX(-20px);
}

.card-content p {
    padding-bottom: 0;
}

.card-img{
    width: 80%;
  border-radius: 50%;
  /* transform: translateX(110%) translateY(50%); */
  border: 4px solid yellowgreen;
  filter: brightness(1.1);
}

@media(width < 700px) {
    .Contenedor {
        background-color: #dcdcdc;
        min-height: 100vh;
    }

    .card-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card2 {
        width: 100%;
        border-radius: 25px;
        background-color: #fff;
        place-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-content {
        width: 100%;
        background: #dcdcdc;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 10px 14px;
        
    }

    .card-content p {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .card-image {
        margin: 0 auto;
        position: relative;

        width: 150px;
        border-radius: 50%;
    }

    .image-content {
        width: 100%;
        position: relative;
        row-gap: 5px;
        padding: 15px 0;
    }

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 0 30px 0 30px;
        background-color: #4070f4;
    }

    /*.overlay::before,
    .overlay::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -40px;
        height: 40px;
        width: 40px;
        background-color: #4070f4;
    }

    
    .overlay::after {
        border-radius: 0 25px 0 0;
        background-color: #fff;
    }*/

    .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid yellowgreen;
    }
}